<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="employee" class="springcoreexamples.model.Employee">
    	<property name="empid" value="1234" />
    	<property name="name" value="Praveen" />
    	<property name="department" value="Finance" />
    </bean>
    
    <bean id="addr" class="springcoreexamples.model.Address">
    	<property name="dno" value="302" />
    	<property name="street" value="SP Road" />
    	<property name="city" value="Hyderabad" />
    </bean>
    
      <bean id="address" class="springcoreexamples.model.Address">
    	<property name="dno" value="999" />
    	<property name="street" value="Jublie Hills" />
    	<property name="city" value="Hyderabad" />
    </bean>
    
     <bean id="person" class="springcoreexamples.model.Person" autowire="byName" scope="prototype">
    	<!-- property name="id" value="98765" />
    	<property name="name" value="Anil" />
    	-->
    	<constructor-arg value="8765"/>
    	<constructor-arg value="mohan"/>
    	<constructor-arg ref="address"/>
    	
    </bean>
    
   
</beans>